<div class="card">
        <div class="card-body">
            <div class="col-lg-12">
                <h3>List Services</h3>
                <br>
                <div>
                    <button class="btn btn-outline-primary  mr-1" (click)="listServices()">List Services</button>
                    <button class="btn btn-outline-success" (click)="createService()">Create Service</button>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table *ngIf="servicesList.length > 0" class="table table-striped" style="margin-top:26px">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Suggested Price</th>
                                    <th scope="col"  style="text-align: center"> State Info </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let service of servicesList">
                                    <td>{{service.name}}</td>
                                    <td>{{service.price}}</td>
                                    <td style="text-align: center"> 
                                        <button type="button" class="btn fa-lg fa-3" [ngClass]="service.universalState == 0 ? 'btn-success fa fa-eye' : 'btn-warning fa fa-eye-slash'" (click)="changeState(service.code)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>