<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="float-left"> <h3>Appointments</h3></div>
            <div class="float-right">
                <button class="btn btn-outline-success" (click)="createAppointment()">New Appointment</button>      
            </div>
        </div>
        <div class="card-body">
            <div class="schedule-container">
                    <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
            </div>
        </div>
    </div>
</div>

