<div class="card">
        <div class="card-body">
            <div class="col-lg-12">
                <h3>List Rooms</h3>
                <br>
                <div>
                    <button class="btn btn-outline-primary  mr-1" (click)="listRooms()">List Rooms</button>
                    <button class="btn btn-outline-success" (click)="createRoom()">Create Room</button>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table *ngIf="roomsList.length > 0" class="table table-striped" style="margin-top:26px">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col"  style="text-align: center"> Edit Info </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let room of roomsList">
                                    <td>{{room.name}}</td>
                                    <td>{{room.description}}</td>
                                    <td style="text-align: center"> 
                                         <demo-modal-service-nested [room]="room"></demo-modal-service-nested>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>