<div class="card">
  <div class="card-body">
    <div class="col-lg-12">
      <h3 class="hTitle" i18n>New Appointment</h3>
      <h4>Customer</h4>
      <div>
        <div class="form-group customer-input">
          <input type="text" id="CustomerName" class="form-control" required="true" [(ngModel)]="model.customerName"
            [typeahead]="customers" adaptivePosition="true">
          <label class="form-control-placeholder required" for="CustomerName">Customer</label>
        </div>
      </div>
      <h4>Service</h4>
      <div>
        <div class="form-group customer-input">
          <input type="text" id="ServiceName" class="form-control" required="true" [(ngModel)]="model.serviceName"
            [typeahead]="services" adaptivePosition="true">
          <label class="form-control-placeholder required" for="ServiceName">Service</label>
        </div>
      </div>
      <h4>Details</h4>
      <div>
        <div class="form-group duration-input">
          <input type="text" id="Duration" class="form-control" required="true" [(ngModel)]="model.duration"
            pattern="^[0-9]+H[0-9]+M|[0-9]+[M|H]$">
          <label class="form-control-placeholder required" for="Duration">Duration</label>
          <small id="DurationHelp" class="form-text text-muted">e.g.: 30M, 1H, 1H40M etc.</small>
        </div>

        <!-- <div class="form-group datetime-input row">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.start" ngbDatepicker
              #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary cui-calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
          <div>
            <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
          </div>
        </div> -->

        <div class="form-group d-flex align-items-center datetime-input">
          <div class="input-group mr-2">
            <input class="form-control pl-2" placeholder="Date" name="dp" [(ngModel)]="startDate" ngbDatepicker
              #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary cui-calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
          <ngb-timepicker name="dp" [(ngModel)]="startTime"></ngb-timepicker>
          <i class="fa fa-clock-o"></i>
        </div>

        <div class="form-group title-input">
          <input type="text" id="title" class="form-control" required="true" #title [(ngModel)]="model.title"
            maxlength="20">
          <label class="form-control-placeholder required" for="Title">Title</label>
          <small id="titleSize" class="form-text text-muted">{{title.value.length}} / 20</small>
        </div>

        <div class="form-group description-input-container">
          <textarea class="form-control description" maxlength="100" required="true" [(ngModel)]="model.description"
            #description></textarea>
          <label class="form-control-placeholder required description-textarea" for="Description">Description</label>
          <small id="descriptionSize" class="form-text text-muted">{{description.value.length}} / 100</small>
        </div>
      </div>

      <div class="form-group room-select">
        <label class="hidden-label required" for="Room">Room</label>
        <select class="form-control" id="rooms" aria-placeholder="Rooms">
          <option *ngFor="let room of roomsList" [value]="room">{{room}}</option>
        </select>
      </div>

      <div>
        <div class="row section-reminders">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="model.reminders" id="reminders">
            <span class="slider round"></span>
          </label>
          <label for="reminders" class="mat-slide-toggle-content">Reminders</label>
        </div>
        <div *ngIf="model.reminders">
          <div class="mat-checkbox-div">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="model.emailReminder" name="emailReminder"
                id="emailReminder" i18n>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Send email reminder</span>
            </label>
          </div>
          <div class="mat-checkbox-div">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="model.smsReminder" name="smsReminder"
                id="smsReminder" i18n>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-label">Send text message reminder </span>
            </label>
          </div>
        </div>
      </div>

    </div>
    <br>
    <div class="float-right">
      <button class="btn btn-outline-primary" (click)="submit()">Submit</button>
    </div>
  </div>
</div>

<!-- Duration input -->
<!--      <div>
          <md-input-container class="duration-input">
            <input mdInput [formControl]="durationControl" [(ngModel)]="model.duration" placeholder="Duration" i18n-placeholder required="true" name="duration" pattern="^[0-9]+H[0-9]+M|[0-9]+[M|H]$">
            <md-hint align="end" i18n class="example-input-hint">e.g.: 30M, 1H, 1H40M etc.</md-hint>
          </md-input-container>
        </div>
-->
<!-- Date and time input -->
<!--       <div class="datetime-input">
          <md2-datepicker [(ngModel)]="model.date" type="date" name="date" required="true" placeholder="Date" i18n-placeholder></md2-datepicker>
          <md2-datepicker [(ngModel)]="model.time" type="time" name="time" required="true" placeholder="Time" i18n-placeholder></md2-datepicker>
        </div>
      -->
<!-- Title input -->
<!--      <div>
          <md-input-container class="title-input">
            <input mdInput #title [(ngModel)]="model.title" placeholder="Title" i18n-placeholder maxlength="20" name="title">
            <md-hint align="end">{{title.value.length}} / 20</md-hint>
          </md-input-container>
        </div>
-->
<!-- Description input -->
<!--      <div style="padding-bottom: 24px;">
          <md-input-container class="description-input-container">
            <textarea mdInput #description [(ngModel)]="model.description" placeholder="Description" i18n-placeholder maxlength="100" name="description" class="description-textarea">
            </textarea>
            <md-hint align="end">{{description.value.length}} / 100</md-hint>
          </md-input-container>
        </div>
-->
<!-- Room select -->
<!--    <div>
          <md-select placeholder="Room" i18n-placeholder [(ngModel)]="model.room" name="room" required="true" class="room-select">
            <md-option *ngFor="let r of rooms" [value]="r">
              {{r?.name}}
            </md-option>
          </md-select>
        </div>
-->
<!-- Only on add, not on update for the time. -->
<!--     <div *ngIf="!this?.model?.id" class="section-reminders">
          <md-slide-toggle [(ngModel)]="model.reminders" name="reminders" i18n="Section hedaer for appointment form">
            Reminders
          </md-slide-toggle>
          <div *ngIf="model.reminders">
            <div class="md-checkbox-div">
              <md-checkbox [(ngModel)]="model.emailReminder" name="emailReminder" i18n>
                Send email reminder <span *ngIf="model?.patient?.email" class="label">({{model.patient.email}})</span>
              </md-checkbox>
            </div>
            <div>
              <md-checkbox [(ngModel)]="model.smsReminder" name="smsReminder" i18n>
                Send text message reminder <span *ngIf="model?.patient?.phone" class="label">({{model.patient.phone}})</span>
              </md-checkbox>
            </div>
          </div>
        </div>

      </md-card-content>
      <md-card-actions align="end">
        <button [disabled]="!appointmentForm.form.valid" md-button type="submit" i18n>SAVE</button>
      </md-card-actions>
    </md-card>
  </form>
-->
<!-- Section title -->
<!-- <div *ngIf="proposedTimeSlots.length > 0" class="section-title" i18n>SUGGESTED TIME SLOTS</div> -->
<!-- 
  <div *ngFor="let timeSlot of proposedTimeSlots">
    <md-card class="card-centered-600">
      <md-card-subtitle i18n="Date overview in suggested appoitment">In {{timeSlot.scheduledTasks.model.schedule[0].start | amTimeAgo:true}}</md-card-subtitle>
      <md-card-title>{{timeSlot.scheduledTasks.model.schedule[0].start | date:'fullDate'}}</md-card-title>
      <md-card-content>
        <div i18n>{{timeSlot.scheduledTasks.model.schedule[0].start | date:'shortTime'}}, {{timeSlot.scheduledTasks.model.schedule[0].duration}} Minutes</div>
        <div>{{getRoomNameById(timeSlot.scheduledTasks.model.schedule[0].resources[0])}}</div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button type="submit" (click)="applySuggestion(timeSlot.scheduledTasks.model.schedule[0])" i18n>APPLY</button>
      </md-card-actions>
    </md-card>
  </div> -->