<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo_hm.jpg', width: 165, height: 45, alt: 'HM Esthetic Line'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
      <div class="ml-auto">
          <span>©{{Year}} Powered by </span>
          <a href="mailto:danielrmdias@hotmail.com">Daniel Dias</a>
          </div>
</app-footer>
